In [1]:
import numpy as np
import pandas as pd

In [5]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [64]:
m1=delivery['dismissal_kind']=='bowled'
m2=delivery['dismissal_kind']=='caught'
m3=delivery['dismissal_kind']=='caught and bowled'
m4=delivery['dismissal_kind']=='hit wicket'
m5=delivery['dismissal_kind']=='lbw'
m6=delivery['dismissal_kind']=='stumped'
m=m1|m2|m3|m4|m5|m6
wick=delivery[m]
a=wick.groupby('bowler').count()['player_dismissed'].sort_values(ascending=False).head(10)
b=a.reset_index()
c=b['bowler'].reset_index()
d=c.merge(wick)

In [65]:
a=d.pivot_table(index='over',columns='bowler',values='player_dismissed',aggfunc='count')

In [66]:
a

bowler,A Mishra,B Kumar,DJ Bravo,Harbhajan Singh,PP Chawla,R Ashwin,RA Jadeja,SL Malinga,SP Narine,UT Yadav
over,,,,,,,,,,
1,1.0,17.0,NaN,5.0,NaN,7.0,NaN,11.0,NaN,6.0
2,NaN,7.0,1.0,5.0,2.0,1.0,NaN,11.0,2.0,8.0
3,NaN,12.0,2.0,1.0,1.0,5.0,NaN,2.0,2.0,7.0
4,4.0,3.0,2.0,7.0,1.0,5.0,NaN,3.0,3.0,13.0
5,1.0,4.0,1.0,4.0,2.0,9.0,2.0,5.0,9.0,5.0
6,NaN,3.0,4.0,8.0,10.0,8.0,4.0,5.0,8.0,6.0
7,15.0,NaN,7.0,13.0,6.0,2.0,10.0,1.0,NaN,2.0
8,9.0,3.0,4.0,13.0,8.0,9.0,4.0,NaN,3.0,4.0
9,20.0,NaN,6.0,8.0,10.0,5.0,9.0,1.0,4.0,2.0
10,10.0,NaN,2.0,12.0,9.0,5.0,9.0,2.0,2.0,1.0
11,13.0,1.0,3.0,12.0,15.0,10.0,7.0,1.0,10.0,3.0
12,13.0,1.0,6.0,13.0,8.0,10.0,8.0,4.0,5.0,3.0
13,10.0,1.0,7.0,6.0,15.0,7.0,7.0,9.0,4.0,3.0
14,16.0,1.0,7.0,12.0,11.0,7.0,9.0,3.0,6.0,5.0
15,6.0,2.0,5.0,5.0,14.0,7.0,13.0,4.0,7.0,2.0
16,14.0,12.0,13.0,7.0,11.0,15.0,3.0,18.0,9.0,7.0
17,7.0,8.0,9.0,8.0,11.0,4.0,11.0,14.0,12.0,8.0
18,6.0,16.0,29.0,6.0,6.0,7.0,5.0,25.0,13.0,11.0
19,5.0,19.0,10.0,4.0,2.0,1.0,4.0,32.0,12.0,11.0
20,6.0,23.0,29.0,1.0,7.0,1.0,3.0,19.0,11.0,12.0

# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

# Ex-

V Kohli:

Innings:

Total Runs:

No. of MOM(Man of the match):

No. of boundries:

In [117]:
def definer(name):
    x=delivery['batsman']==name
    ok=delivery[x]
    runs=ok['batsman_runs'].sum()
    innings=ok.drop_duplicates(subset=['match_id']).count()['inning']
    motm=match[match['player_of_match']==name].count()['player_of_match']
    fours=ok[ok['batsman_runs']==4].count()['ball']
    sixes=ok[ok['batsman_runs']==6].count()['ball']
    boundaries=fours+sixes
    print(name)
    print ("Innings:",innings)
    print ("Total Runs:",runs)
    print("Man of the Match awards:",motm)
    print ("NO. of boundaries:",boundaries)

In [119]:
definer("RG Sharma")

RG Sharma
Innings: 182
Total Runs: 4914
Man of the Match awards: 17
NO. of boundaries: 625

# Q5. - Top-3 Player in terms of most no. of catches.

In [12]:
mask1=delivery['dismissal_kind']=='caught'
mask2=delivery['dismissal_kind']=='caught and bowled'
mask=mask1|mask2
actual=delivery[mask]

In [13]:
actual.groupby('fielder').count()['player_dismissed'].sort_values(ascending=False).head(3)

fielder
KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: player_dismissed, dtype: int64

# Q4.- No. of matches per season played in Mumbai.

In [19]:
var1=match['city']=='Mumbai'
match[var1].groupby('season').count()['venue']

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
2018     9
2019     7
Name: venue, dtype: int64

# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [31]:
def orangecaps(venue):
    var2=delivery.merge(match,left_on='match_id',right_on='id')
    var3=var2['venue']==venue
    top=var2[var3].groupby('batsman').count()['batsman_runs'].sort_values(ascending=False).head(4)
    return top

In [32]:
orangecaps("Wankhede Stadium")

batsman
RG Sharma       1324
KA Pollard       809
AT Rayudu        672
SR Tendulkar     632
Name: batsman_runs, dtype: int64

In [50]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN